h1{
	font-weight: bold;
	font-size:24px;
    color: #992E0E;
}
body{
	background-color: #bada55;
	font-family: Helvetica;

}
p{
	font-size: 14px;
	font-weight: bold;
}
article{
	display: inline-block;
	width: 23%;	
}
td{
	width: 23%;
}
.imgs{
	height:300px;
	width:250px;
}
form{
	width:80%;
	padding:10px;
}
input[type=submit]{
	width: 23%;
	height:30px;
    background-color: #992E0E;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding:4px;
}
button{
	width:22%;
	height:50px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 20px;
    padding:0;
    float:left;
}

.numberbutton:active {
    background-color: #d0d3d8;
}
.opbutton:active{
	background-color: #f2db52;
}
.opbutton{
	background-color: #f9e677;
}
.clearbutton{
	background-color: #ea7a6e;
}
.clearbutton:active{
	background-color:#ed5747
}

buttons{
	width:auto; 
	padding:5px; 
	margin-left: 10px; 
	font-size: 16px; 
	height:auto;
    background-color: #992E0E;
    color: white;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
   }

.calclabel {
    display:inline-block;
    float: left;
    padding-top: 5px;
    text-align: left;
    font-weight: bold;
  }
.calcinput[type=text]  {
    
    margin-bottom: 5px;
    display:inline-block;
    width:100%;
    padding: 6px;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

@keyframes changeBack {
     0%  {background-color: :#bada55;}
    25%  {background-color: red;}
    50%  {background-color: yellow;}
    100% {background-color: brown;}
}
.colorAnimation{
	animation-name: changeBack;
	animation-duration: 40s;
} 

.calculator{
	float:left;
	
}